# running on
ENV_HOST=
SERVICE_NAME=
LOG_NAME=
LOG_SIZE=
LOG_BACKUP=
LOG_AGE=
LOG_COMPRESS=
MASKING_DATA=

# BEGIN __INCLUDE_POSTGRES__
POSTGRE_USER=
POSTGRE_PASS=
POSTGRE_HOST=
POSTGRE_PORT=
POSTGRE_DB=
POSTGRE_SSL=
POSTGRE_DEBUG=
POSTGRE_LOG_MODE=
# END __INCLUDE_POSTGRES__

# BEGIN __INCLUDE_REDIS__
REDIS_ADDRESS=
REDIS_PORT=
REDIS_DB_TYPE=
REDIS_PASSWORD=
# END __INCLUDE_REDIS__
# router
ROUTER_SETMODE=
ROUTER_SERVER_ADDRESS=
ROUTER_PORT=
PATH_VERSION=
PATH_MAIN=
MAX_TIMEOUT=
# BEGIN __INCLUDE_SCHEDULER__
SCHEDULER_TASK=
SCHEDULER_TIME_TASK=
# END __INCLUDE_SCHEDULER__
# swagger
SWAG_TITLE=
SWAG_DESC=
SWAG_VERSION=
SWAGGER_HOST=
SWAG_SCHEMES=
# JWT Secret Key
SECRET_KEY=
