# running on
ENV_HOST=
SERVICE_NAME=
LOG_NAME=
LOG_SIZE=
LOG_BACKUP=
LOG_AGE=
LOG_COMPRESS=
MASKING_DATA=
# BEGIN __INCLUDE_POSTGRES__
POSTGRE_USER=
POSTGRE_PASS=
POSTGRE_HOST=
POSTGRE_PORT=
POSTGRE_DB=
POSTGRE_SSL=
POSTGRE_DEBUG=
POSTGRE_LOG_MODE=
# END __INCLUDE_POSTGRES__
# BEGIN __INCLUDE_MYSQL__
MYSQL_USER=
MYSQL_PASS=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DB=
MYSQL_DEBUG=
MYSQL_LOG_MODE=
# END __INCLUDE_MYSQL__
# BEGIN __INCLUDE_REDISASYNQ__
REDIS_QUEUE_DB_TYPE=
REDIS_QUEUE_CONSUMER_CONCURRENCY=
REDIS_QUEUE_CONSUMER_INTERVAL=
REDIS_QUEUE_KEY_PREFIX=
REDIS_QUEUE_HOST=
REDIS_QUEUE_PORT=
REDIS_QUEUE_PASS=
# END __INCLUDE_REDISASYNQ__
# BEGIN __INCLUDE_REDIS__
REDIS_ADDRESS=
REDIS_PORT=
REDIS_DB_TYPE=
REDIS_PASSWORD=
# END __INCLUDE_REDIS__
# BEGIN __INCLUDE_REDISCLUSTER__
REDIS_CLUSTER_ADDRESS=
REDIS_CLUSTER_PASSWORD=
REDIS_CLUSTER_SLAVE_ADDRESS=
# END __INCLUDE_REDISCLUSTER__
# BEGIN __INCLUDE_MINIO__
MINIO_ENDPOINT=
MINIO_KEYID=
MINIO_SECRET_KEY=
# END __INCLUDE_MINIO__
# BEGIN __INCLUDE_KAFKA__
KAFKA_BROKER_ADDRESS=
KAFKA_GROUP=
KAFKA_TOPIC=
# END __INCLUDE_KAFKA__
# BEGIN __INCLUDE_CASSANDRA__
CASSANDRA_HOST=
CASSANDRA_KEYSPACE=
# END __INCLUDE_CASSANDRA__
# router
ROUTER_SETMODE=
ROUTER_SERVER_ADDRESS=
ROUTER_PORT=
PATH_VERSION=
PATH_MAIN=
MAX_TIMEOUT=
# BEGIN __INCLUDE_TEMPLATE__
USERNAME=
PASSWORD=
SECRET_KEY=
# END __INCLUDE_TEMPLATE__
# BEGIN __INCLUDE_SCHEDULER__
SCHEDULER_TASK=
SCHEDULER_TIME_TASK=
# END __INCLUDE_SCHEDULER__
# BEGIN __INCLUDE_HOST__
EXAMPLE_ROSE=
EXAMPLE_HOST=
EXAMPLE_HOST_GET=
EXAMPLE_HOST_POST=
# END __INCLUDE_HOST__
# swagger
SWAG_TITLE=
SWAG_DESC=
SWAG_VERSION=
SWAGGER_HOST=
SWAG_SCHEMES=
SECRET_KEY=
# BEGIN __INCLUDE_GRPC__
RPC_HOST=
# END __INCLUDE_GRPC__