# running on
ENV_HOST=
SERVICE_NAME=
LOG_NAME=
LOG_SIZE=
LOG_BACKUP=
LOG_AGE=
LOG_COMPRESS=
MASKING_DATA=

# POSTGRES
POSTGRE_USER=
POSTGRE_PASS=
POSTGRE_HOST=
POSTGRE_PORT=
POSTGRE_DB=
POSTGRE_SSL=
POSTGRE_DEBUG=
POSTGRE_LOG_MODE=

# REDIS
REDIS_ADDRESS=
REDIS_PORT=
REDIS_DB_TYPE=
REDIS_PASSWORD=

# router
ROUTER_SETMODE=
ROUTER_SERVER_ADDRESS=
ROUTER_PORT=
PATH_VERSION=
PATH_MAIN=
MAX_TIMEOUT=
# SCHEDULER
SCHEDULER_TASK=
SCHEDULER_TIME_TASK=

# swagger
SWAG_TITLE=
SWAG_DESC=
SWAG_VERSION=
SWAGGER_HOST=
SWAG_SCHEMES=

# JWT Secret Key
SECRET_KEY=
